{% extends 'base.html' %}
{% load static %}

{% block title %}
Ashton Bringham
{% endblock title %}

{% block content %}

<div class="card about-card">
    <div class="row no-gutters">
        <div class="col-sm-8 col-md-6">
            <img src="/static/images/ashton.jpg" alt="login" class="about-card-img">
        </div>
        <div class="col-sm-8 col-md-6">
            <div class="card-body">
                <h2> Shrestha Agrawal <h2>
                <div class="about-card-description">
                    <em> I can make applications. </em> 
                    <br> <br> <br>
                    I am a software developer and I can make applications in JAVA and FLUTTER. 
                    <br> <br>
                    I have made a shopping application in java and a food ordering application in flutter.
                </div>
                <a class="btn color-dark" href="#">Hire Me!</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}